{
    "extends": "@apify",
    "globals": {
        "describe": "readonly",
        "test": "readonly",
        "expect": "readonly",
        "it": "readonly",
        "afterAll": "readonly",
        "jasmine": "readonly",
        "jQuery": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "rules": {
        "max-len": 0
    }
}
